.ingredient {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style: none;
  }
  
  .ingredient > svg {
    cursor: grab;
  }
  
  .bun {
    display: flex;
    justify-content: flex-end;
  }