.form {
  display: flex;
  flex-direction: column;
}
.btns {
  display: flex;
  align-self: flex-end;

}
.span {
  padding: 0;
  color: #4C4CFF;
  text-decoration: none;
  transition: all .5s ease-in-out;
}

.span:hover {
  color: #F2F2F3;
}
.wrapper div  {
  width: 480px;
}
.wrapper div div div{
  width: 40px;
  text-align: end;
}