.header {
  width: 100%;
  background-color: #1C1C21;
  color: #F2F2F3;
  margin: auto;
}

.list {
  max-width: 1240px;
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.link {
  margin: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #F2F2F3;
}
.logo {
  margin-left: 112px;
}
.listItem {
  align-items: center;
}