.link {
  color: #F2F2F3;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.link:hover {
  color: #c383ff;
}

.card {
  max-width: 272px;
  position: relative;
  list-style-type: none;
}

.price {
  display: flex;
  justify-content: center;
}

.name {
  text-align: center;
}